<!doctype html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <link href="{{site.baseurl}}/css/Navigation/style.css" media="screen" type="text/css"rel="stylesheet">
    <link rel="stylesheet" href="{{site.baseurl}}/css/Navigation/font-awesome.min.css" type="text/css" >
    <link href='http://www.youziku.com/webfont/CSS/c86d3aa24988ec1d829e7e917bfc059c' rel='stylesheet' type='text/css'/>
</head>

<body style="background:#ffe;">

{%include navigation.html%}

{{content}}

</body>

</script>


</html>